


.flipbook-viewport {
  overflow: hidden;
  width: 90%;
  height: 90%;
}

.flipbook-viewport .container {
 position: absolute;
 padding: 20px;
 /*top: 0;
 left: 0;*/
 margin: auto;
 text-align: center;
}

.flipbook-viewport .flipbook {
  width: 922px;
  height: 700px;
}
.flipbook-viewport .flipbook2 {
  width: 922px;
  height: 700px;
}
.flipbook-viewport .flipbook3 {
  width: 922px;
  height: 700px;
}
@media (max-width: 992px) {
  .flipbook-viewport .flipbook {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 992px) {
  .flipbook-viewport .flipbook2 {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 992px) {
  .flipbook-viewport .flipbook3 {
    width: 100%;
    height: 350px;
  }
}



.flipbook-viewport .page {
  width: 461px;
  height: 800px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 992px) {
  .flipbook-viewport .page{
    height: 400px;
  }
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.flipbook2 .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.flipbook3 .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.flipbook img{
  width: 100%;
}
.flipbook{
  margin-top: 50px;
}

.flipbook2 img{
  width: 100%;
}
.flipbook2{
  margin-top: 50px;
}

.flipbook3 img{
  width: 100%;
}
.flipbook3{
  margin-top: 50px;
}

.menu1{
  position: relative;
  width: 100%;
  height: 800px;
}
.misMenus{
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .misMenus{
    flex-direction: column;
  }
}
